/*container 开始*/

#container-center ul{
    text-align:center;
    height:40px;
    background:white;
    border-right:1px solid blue;
    display:none;
    position:absolute;
}
#container-center ul li{
    cursor: pointer;
    border-bottom:1px solid blue;
    border-top:1px solid blue;
    width:130px;height:39px;
    float:left;
}
#container-center ul li a{
    color:black;
}
#container-center ul li a:hover{
    color:red;
}

/*container 结束*/
