ul{
    list-style: none;
    margin-left: 200px;
}
.con{
    margin: 0 10.55%;
}
.table{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 5px 30px;
    height: 100px;
}
.table .d_nam{
    margin-top: 10px;
    font-size: 24px;
    color: blue;
}
.table .d_fun{
    font-size: 18px;
    margin-top: 20px;
}
.table .d_pri{
    position: relative;
    top: -60px;
    font-size: 20px;
    left: 650px;
}
.table .d_num{
    position: relative;
    top: -50px;
    font-size: 20px;
    left: 650px;
}
.table .ii img{
    height:40px;
    width: 40px;
    display: block;
    margin:8px 12px 5px 12px;
}
.table span{
    position: relative;
    top:10px;
}
.table .ii{
    position: relative;
    top: -155px;
    left: 930px;
}
.table .inp{
    position: relative;
    top: -100px;
    left: 880px;
}
.footer_d .much{
    margin-left: 870px;
    font-size: 26px;
    float: left;
    margin-top: 10px;
}
.footer_d .ding{
    width: 150px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: red;
    margin-left: 1035px;
    font-size: 26px;
    color: white;
}